<!--{% for field in form %}-->
<!--    <div>-->
<!--        {% if field != "text" %}-->
<!--            {{ field }}-->
<!--        {% endif %}-->
<!--    </div>-->
<!--    {% if field == "text" %}-->
<!--        {{ field }}-->
<!--    {% endif %}-->
<!--{% endfor %}-->

<div>
    {{ form.username.errors }}
    {{ form.username.label_tag }}
    {{ form.username }}

    {{ form.email.errors }}
    {{ form.email.label_tag }}
    {{ form.email }}

    {{ form.homepage.errors }}
    {{ form.homepage.label_tag }}
    {{ form.homepage }}
<div>
